<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class = "bg-light">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Capstone</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/web/home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/web/teamList">Teams</a>
          <a class="nav-item nav-link" href="/web/manageTeams">Manage Teams</a>
          <a class="nav-item nav-link" href="/web/profile">Profile</a>
        </div>
        <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link mr-auto" href="/web/invites">Invites</a>
        </div>
    </nav>

  <div>
      <h3 class = "text-center mt-3" th:text="'Hello ' + ${name}"></h3>
      <h3 class = "text-center mt-3">
        Welcome to the your homepage!
      </h3>
  </div>

  <!-- image example -->
  <div id="image">
    <p>
      <img class="rounded mx-auto d-block" alt="no duck found" th:src="@{/img/duck.jpg}"/>
    </p>
  </div>

  <!-- <a href="/web/userList">List of all users</a> -->

    <!-- Optional JavaScript -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>