<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

  </head>
  <body class = "bg-light">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Capstone</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/web/home">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/web/teamList">Teams</a>
          <a class="nav-item nav-link" href="/web/manageTeams">Manage Teams</a>
          <a class="nav-item nav-link" href="/web/profile">Profile</a>
        </div>
        <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link mr-auto" href="/web/invites">Invites</a>
        </div>
    </nav>

  <div class="container mt-5">
      <div class="row align-items-center">
        <div class="col-6 mx-auto col-md-6 order-md-2">
          <div id="image">
            <img class="rounded p-5 d-block" th:src="@{/img/aws-logo.png}" />
            <img style="margin-left:90px;" class="rounded p-5 d-block" th:src="@{/img/spring-boot-logo.png}" />
            <img style="margin-left:90px;" class="rounded p-5 d-block" th:src="@{/img/bootstrap-logo.png}" />
          </div>
        </div>
        <div class="col-6 mx-auto col-md-6 order-md-1 text-center text-md-left pr-md-5">
          <h1 class="mb-3">Standup Assistant</h1>
          <p class="lead">This web application is designed as a supplemental tool to be used in conjunction with our Google Assistant action in order to record, review, and maintain daily standups for your teams.</p>
          <p class="lead mb-4">It was created using Spring Boot, Bootstrap CSS, and jQuery. The application is currently hosted on Amazon Web Services. You are able to manage and view daily standups across multiple teams from individual team members.</p>
        </div>
      </div>
  </div>

  <div class="footer text-center">
    <a href="https://www.wvu.edu/">WVU Capstone Project</a> | 
    <a href="https://www.leidos.com/">Leidos</a>
  </div>

  <!-- Optional JavaScript -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <style>
    .footer {
      font-size: 24px;
      position: fixed;
      height: 200;
      width: 100%;
      left: 0;
      bottom: 0;
      color: blue;
      background-color: #dbb902;
    }
  </style>

  </body>
</html>