<!doctype html>
<html xmlns:th="https://thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Capstone</a>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href=/web/home>Home</a>
          <a class="nav-item nav-link" href="/web/teamList">Teams</a>
          <a class="nav-item nav-link active" href="/web/manageTeams">Manage Teams<span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/web/profile">Profile</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link mr-auto" href="/web/invites">Invites</a>
        </div>
  </nav>

  <title>Manage Teams</title>
  </head>
  <body class = "bg-light">
    <p class="text-center mt-5">Select a team to manage</p>
    <div class="container">
      <div class="bg-white rounded shadow-sm p-3 mt-5 mb-5">
        <!-- <h5 class="mx-auto d-inline-block">Managable Teams</h5>
        <button type="button" class="btn btn-primary float-right">Create Team</button> -->
        <!-- <div class="container"> -->
        <div class="row justify-content-end text-center mb-1">
            <h5 class="col-4">Managable Teams</h5>
            <div class="col-4">
              <button id="button" class="btn btn-primary float-right" onclick="buttonClicked()">Create Team</button>
            </div>
          </div>
        <!-- </div> -->
        <table id= "Table" class="table table-striped table-responsive-md">
          <thead>
              <tr>
                  <th>Team Name</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="team : ${teams}" style="cursor: pointer" th:data-parameter1="${team.teamID}" onclick="rowClicked(this.getAttribute('data-parameter1'));">
                  <td th:text="${team.teamName}"></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="modal fade" id="teamModal" tabindex="-1" role="dialog" aria-labelledby="teamModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Create Team</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="teamName">Team Name</label>
                        <input type="text" class="form-control" id="teamName" aria-describedby="teamNameHelp">
                        <small id="teamNameHelp" class="form-text text-muted">A team name</small>
                    </div>
                    <div class="form-group">
                        <label for="description">Team Description</label>
                        <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp">
                        <small id="descriptionHelp" class="form-text text-muted">A description for the team</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="saveTeam();">Save</button>
            </div>
          </div>
        </div>
    </div>  

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
      <script src = "https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
      <script th:inline="javascript">
          $(document).ready(function () {
              $('#Table').DataTable();
          });

          function buttonClicked() {
            $('#teamModal').modal('toggle');
          }

          function rowClicked(value){
            location.href = "modifyTeam/" +  value;
          }

          function saveTeam() {
            // pull from input
            var user = /*[[${user}]]*/ null;

            var team = {"scrumMasterEmail":user.email, "description":$('#description').val(), "teamName":$('#teamName').val(), "users":[user]};

            $.ajax({
                url : 'http://localhost:5000/api/team',
                type : 'POST',
                data: JSON.stringify(team),
                headers: {
                        'Content-Type': 'application/json'
                    },
                dataType:'application/json',
                success : function(data) {              
                    alert('Data: '+ data);
                },
                error : function(request,error)
                {
                    alert(request.responseText);
                }
            });
        }

        </script>
  </body>
</html>