<nav class="navbar navbar-expand-lg">
  <a routerLink="/" class="navbar-brand">ASS</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-2">
      <li class="nav-item active">
        <a routerLink="/standups" class="nav-link">Standups</a>
      </li>
      <li class="nav-item">
        <a routerLink="/create-team" class="nav-link">Create Team</a>
      </li>
      <li class="nav-item">
        <a routerLink="/manage-teams" class="nav-link">Manage Teams</a>
      </li>
    </ul>
  </div>
</nav>
